<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="skill.css">

</head>

<body>
    <div class="con">
        <h1>ความสามารถในการทำงาน</h1>

        <div class="u-center">
            <section class="skills">
                <div class="skill">
                    <h3 class="skill__type">HTML</h3>
                    <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill-bar--60"></div>



                    </div>

                </div>
                <div class="skill">
                    <h3 class="skill__type">css</h3>
                    <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill-bar--40"></div>



                    </div>

                </div>
                <div class="skill">
                    <h3 class="skill__type">javascrip</h3>
                    <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill-bar--20"></div>



                    </div>

                </div>
                <div class="skill">
                    <h3 class="skill__type">PHP</h3>
                    <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill-bar--50"></div>



                    </div>

                </div>

                <div class="skill">
                    <h3 class="skill__type">SQL</h3>
                    <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill-bar--90"></div>



                    </div>

                </div>
            </section>

        </div>





        <div class= "text-2">
        
            <a class="button" href="/">Profile </a>
         
     </div>

    </div>
</body>

</html>